aside.navbar#navbar
  nav.navbar__nav
    .navbar__inner
      ul.navbar__list
        li.navbar__item
          a.navbar__link(href="#present") О домиках
        li.navbar__item
          a.navbar__link(href="#products") Каталог
        li.navbar__item
          a.navbar__link(href="#callback") Заказать
        li.navbar__item
          a.navbar__link(href="#charity") Благотворительность
        li.navbar__item
          a.navbar__link(href="#contacts") Контакты
          