.popup#callback
  form.popup__form.form.form--popup(name='form-callback' id='form-callback')
    .popup__close
    p.form__title Напишите свой номер, и мы вам перезвоним
    .form__fields
      input.form__input(name='name', placeholder='Ваше Имя', type='text')
      input.form__input.im--phone(name='phone', placeholder='Номер телефона', type='text')
    .form__submit.btn.btn--white.feedback(value='Перезвонить') Перезвонить
    a.form__text(href="#" title="Политика конфиденциальности") * Потилика конфиденциальности