.popup#callback
  form.popup__form.form.form--popup
    .popup__close
    p.form__title Напишите свой номер, и мы вам перезвоним
    .form__fields
      input.form__input(name='name', placeholder='Ваше Имя', type='text')
      input.form__input(name='name', placeholder='Номер телефона', type='text')
    button.form__submit.btn.btn--white(type='submit', value='Перезвонить') Перезвонить
    a.form__text(href="#" title="Политика конфиденциальности") * Потилика конфиденциальности