.popup.popup--remove#success
  .popup__form.popup__form--success.form
    .popup__close
    .popup__title Ваш заявка успешно оформлена.
    .popup__subtitle В скором времени наш менежер свяжется с вами.