doctype html
html(lang='ru')
  head 
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='format-detection', content='telephone=no')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Yukka
    link(rel='stylesheet', href='./css/libs.min.css')
    link(rel='stylesheet', href='./css/bundle.css')
  body.body
    include includes/aside.pug
    .wrapper#panel
      include includes/callback.pug
      header.header
        .container.header__container
          .header__logo.logo
            a.logo__link(href='#')
              img.logo__img(alt='', src='img/logo.png')
          nav.header__nav.nav
            ul.nav__list
              li.nav__item
                a.link.nav__link(href='index.html#present') О домиках
              li.nav__item.nav__item--active
                a.link.nav__link.scroll-to-target(href='#products') Каталог
              li.nav__item
                a.link.nav__link(href='index.html#callback') Заказать
              li.nav__item
                a.link.nav__link(href='charity.html') Благотворительность
              li.nav__item
                a.link.nav__link.scroll-to-target(href='#contacts') Контакты
          a.header__callback-btn(href='#') Звонок
          .navbar-toggler
            span
            span
            span
      main.main
        section.section
          .container
            h2.section__title Выберите домик
            .catalog
              .catalog__row
                .catalog__cell.catalog__cell--img
                  .catalog__img
                    img.img.img--responsive(alt='', src='img/ch1.png')
                .catalog__cell.catalog__cell--name Крепость
                .catalog__cell.catalog__cell--price 
                  .price 900 
                    span Р
                .catalog__cell.catalog__cell--quantity
                  .product__order(data-product='50' data-name='Крепость' data-price='900' data-quantity='0')
                    .product__spinner.spinner
                      input.spinner__input(value='1' type='hidden')
                      span.spinner__button.spinner__button--down -
                      .spinner__placeholder 1
                      span.spinner__button.spinner__button--up +
                    a.product__btn.btn.btn--red.btn--double Заказать
              .catalog__row
                .catalog__cell.catalog__cell--img
                  .catalog__img
                    img.img.img--responsive(alt='', src='img/ch2.png') 
                .catalog__cell.catalog__cell--name Шапито
                .catalog__cell.catalog__cell--price 
                  .price 1200 
                    span Р
                .catalog__cell.catalog__cell--quantity
                  .product__order(data-product='51' data-name='Шапито' data-price='1200' data-quantity='0')
                    .product__spinner.spinner
                      input.spinner__input(value='1' type='hidden')
                      span.spinner__button.spinner__button--down -
                      .spinner__placeholder 1
                      span.spinner__button.spinner__button--up +
                    a.product__btn.btn.btn--red.btn--double Заказать
              .catalog__row
                .catalog__cell.catalog__cell--img
                  .catalog__img
                    img.img.img--responsive(alt='', src='img/ch3.png')
                .catalog__cell.catalog__cell--name Избушка
                .catalog__cell.catalog__cell--price 
                  .price 900 
                    span Р
                .catalog__cell.catalog__cell--quantity
                  .product__order(data-product='52' data-name='Избушка' data-price='900' data-quantity='0')
                    .product__spinner.spinner
                      input.spinner__input(value='1' type='hidden')
                      span.spinner__button.spinner__button--down -
                      .spinner__placeholder 1
                      span.spinner__button.spinner__button--up +
                    a.product__btn.btn.btn--red.btn--double Заказать


              
        section.section.section--catalog
          .container
            h2.section__title Вместе с домиком также берут
            .products
              .product.products__item
                .product__img
                  img.img.img--responsive(alt='', src='img/markers.png')
                .product__desc
                  p.product__title Фломастеры утолщенные BRAUBERG, 12 цветов
                  p.product__price.price 900
                    span Р
                  p.product__text Практичные, безопасные фломастеры. Полипропиленовый корпус значительно продлевает срок службы. Обладают яркими насыщенными цветами. Чернила легко отстирываются с одежды, смываются с рук. Утолщенный корпус и наконечник отлично подходят для юных художников.
                .product__order(data-product='53' data-name='Фломастеры утолщенные BRAUBERG, 12 цветов' data-price='900' data-quantity='0')
                  .product__spinner.spinner
                    input.spinner__input(value='1' type='hidden')
                    span.spinner__button.spinner__button--down -
                    .spinner__placeholder 1
                    span.spinner__button.spinner__button--up +
                  a.product__btn.btn.btn--red.btn--double Заказать
              .product.products__item
                .product__img
                  img.img.img--responsive(alt='', src='img/markers.png')
                .product__desc
                  p.product__title Фломастеры утолщенные BRAUBERG, 12 цветов
                  p.product__price.price 900
                    span Р
                  p.product__text Практичные, безопасные фломастеры. Полипропиленовый корпус значительно продлевает срок службы. Обладают яркими насыщенными цветами. Чернила легко отстирываются с одежды, смываются с рук. Утолщенный корпус и наконечник отлично подходят для юных художников.
                .product__order(data-product='54' data-name='Фломастеры утолщенные BRAUBERG, 12 цветов' data-price='900' data-quantity='0')
                  .product__spinner.spinner
                    input.spinner__input(value='1' type='hidden')
                    span.spinner__button.spinner__button--down -
                    .spinner__placeholder 1
                    span.spinner__button.spinner__button--up +
                  a.product__btn.btn.btn--red.btn--double Заказать
              .product.products__item
                .product__img
                  img.img.img--responsive(alt='', src='img/markers.png')
                .product__desc
                  p.product__title Фломастеры утолщенные BRAUBERG, 12 цветов
                  p.product__price.price 900
                    span Р
                  p.product__text Практичные, безопасные фломастеры. Полипропиленовый корпус значительно продлевает срок службы. Обладают яркими насыщенными цветами. Чернила легко отстирываются с одежды, смываются с рук. Утолщенный корпус и наконечник отлично подходят для юных художников.
                .product__order(data-product='55' data-name='Фломастеры утолщенные BRAUBERG, 12 цветов' data-price='900' data-quantity='0')
                  .product__spinner.spinner
                    input.spinner__input(value='1' type='hidden')
                    span.spinner__button.spinner__button--down -
                    .spinner__placeholder 1
                    span.spinner__button.spinner__button--up +
                  a.product__btn.btn.btn--red.btn--double Заказать
        
        section.section.section--cart
          .container
            h2.section__title Ваша корзина
            .checkout
              .checkout__cart.cart
              .checkout__totals.totals
                .totals__row
                  .totals__cell Итого:
                  .totals__cell#subtotal
                    .price 1709
                      span Р
                  .totals__cell
                    a.checkout__btn.btn.btn--red.btn--right Оформить

        section.section.section--contacts
          .container
            p.section__title Контакты
            .contacts
              .contacts__item.contacts__item--address
                p.contacts__text 197198, Россия, <br/>г. Санкт-Петербург, <br/>ул. Съезжинская, 37А
              .contacts__item.contacts__item--phone
                a.contacts__text(href="tel:88005513320" title="Позвоните нам") 8 800 551-33-20
              .contacts__item.contacts__item--mail
                a.contacts__text(href="mailto:yukkakid@gmail.com" title="Напишите нам") yukkakid@gmail.com
              a.contacts__item.contacts__item--vk(href="#" title="Наша группа Вконтакте")
              a.contacts__item.contacts__item--insta(href="#" title="Наш Instagram")
        
        include includes/footer.pug

