@import "./imports/_mixins.less";
@import "./imports/_grid.less";
@import "./imports/_variables.less";
@import "./imports/_fonts.less";

body, html {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color:@text;
  background-color: #faf4e9;
}

.body {
  &--noscroll {
    overflow: hidden;

    @media (min-device-width: 1025px) {
      padding-right: 15px;
    }
  }
}

h1,h2,h3,h4,ul,p {
  margin: 0;
  padding: 0;
}

.img {
  &--responsive {
    width: 100%;
    height: auto;
  }
}

/* slideout */
@media @mobile {
  .slideout-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 250px;
    min-height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 0;
    display: none;
  }

  .slideout-menu-left {
    left: 0;
  }

  .slideout-menu-right {
    right: 0;
  }

  .slideout-panel {
    position: relative;
    z-index: 1;
    will-change: transform;
    background-color: #FFF; /* A background-color is required */
    min-height: 100vh;

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #000000;
      z-index: 99;
      top: 0;
      left: 0;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.2s ease;
    }
  }

  .slideout-open,
  .slideout-open body,
  .slideout-open .slideout-panel {
    overflow: hidden;
  }

  .slideout-open .slideout-menu {
    display: block;
  }

  .fixed-open {
      transform: translate3d(-220px,0,0);
  }

  .slideout-open {
    .header, .slideout-panel {
      &:before {
        opacity: 0.2;
      }
    }
  }
}

/* шапка */
.header{
  background-color: #faf4e9;

	&__container {
  	display:flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    @media @mobile {
      padding-right: 65px;
    }
  }
  
  
  &__callback-btn {
    border-bottom: dashed 1px #3d2525;
    transition: all 0.3s ease;
    color:@text;
    text-decoration: none;

    line-height: 22px;
    &:hover { 
    	color: @red; 
    	border-bottom-color: @red; 
   	}
  }
}

.main {
  overflow: hidden;
}

.navbar-toggler {
  display: none;
  
  @media @mobile {
    position: absolute;
    right: 18px;
    top: 0;
    bottom: 0;
    margin:auto;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 32px;
    height: 32px;
    cursor: pointer;

    span {
      display: block;
      width: 100%;
      height: 5px;
      background-color: #ff9900;
    }
  }
}
.navbar {
  display: none;
  &__inner {
    background-color: #faf4e9;
    padding: 25px;
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__sublist {
    padding-left: 15px;
    margin: 0;
    list-style: none;
    max-height: 0;
    
    opacity: 0;
    
    transition:all 0.3s ease;

    &--active {
      max-height: 99vh;
      opacity: 1;
      
    }
  }

  &__item {
    position: relative;
  }
  
  &__link {
    color:@text;
    transition: color 0.3s ease;
    text-decoration: none;

    &:hover {
      color:@red;
    }
  }
}

.nav {
  @media @mobile {
    display: none;
  }
	&__list {
  	list-style: none;	
 	  display: flex; 
  }

  &__link {
    display: block;
    padding: 30px 20px;
    height: 90px;
    text-decoration: none;
    color:@text;
    transition: color 0.3s ease;
  }	


  &__item {
    border-top: 5px solid transparent;
    transition: border-color 0.3s ease;
    
    &:hover, &--active {
      border-top: 5px solid @red;
      .nav__link {
        color: @red; 
      }
    }
  }
}

.section {
  position: relative;
	padding-top: 80px;
	padding-bottom: 80px;
	
  @media @mobile {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  background-color: #faf4e9;
  
  &--cart {
    @media @mobile {
      padding-bottom: 100px;
    }
  }
  &--page {
    &:before {
      content: '';
      position: absolute;
      width: 116%;
      height: 100px;
      bottom: 0;
      left: -8%;
      border-top-left-radius: 100%;
      border-top-right-radius: 100%;
      background: #ffcc66;
      z-index: 2;
    }
    .container {
      z-index: 2;
    }

    @media @mobile {
      padding-bottom: 60px;
      &:before {
        height: 80px;
      }
    }
  }
  &--magic {
    padding-top: 30px;
    @media @mobile {
      padding-top: 0; 
      padding-bottom: 30px;
    }
  }

  &--present {
    @media @mobile {
      padding-top: 0; 
      padding-bottom: 10px;
    } 
  }

  &--gallery {
    position: relative;
    padding-top: 0;
    .container {
      z-index: 2;
    }
    &:before {
      content: '';
      position: absolute;
      width: 120%;
      height: 320px;
      top: -100px;
      left: -10%;
      border-top-left-radius: 100%;
      border-top-right-radius: 100%;
      background: #faf4e9;
      z-index: 1;
    }
    
    @media @mobile {
      &:before {
        height: 100px;
        top: -50px;
      }
    }
  } 
  &--products {
    padding-bottom: 0;
    z-index: 2;
  }
  
  &--order {
    background-color: #ffcc66;
    padding-top: 300px;
    padding-bottom: 0;
    margin-top: -100px;
    
    .container {
      z-index: 2;
    }

    @media @mobile {
      padding-top: 100px;
    }
    
    &:before {
      content: '';
      position: absolute;
      width: 120%;
      height: 320px;
      top: -140px;
      left: -10%;
      border-bottom-left-radius: 100%;
      border-bottom-right-radius: 100%;
      background: #faf4e9;
      z-index: 1;

      @media @mobile {
        height: 50px;
        background-color: #faf4e9;
        top: 0;
      }
    }
    
    
    &:after {
      content: '';
      position: absolute;
      width: 120%;
      height: 320px;
      bottom: -140px;
      left: -10%;
      border-bottom-left-radius: 100%;
      border-bottom-right-radius: 100%;
      background: #ffcc66;
      z-index: 1;

      @media @mobile {
        height: 50px;
        bottom: -50px;
      }
    }
    

    
  }
    
  &--charity {
    padding-top: 200px;

    @media @mobile {
      padding-top: 100px;
    }
  }
	&__title {
		text-align: center;
	  font-family: 'Amatic SC';
	  font-size: 72px;
		font-weight: 400;
		line-height: 90px;
    letter-spacing: 3.6px;

		margin-top: 0;
		margin-bottom: 80px;
    

    @media @mobile {
      font-size: 56px;
      font-weight: 400;
      line-height: 60px;
      margin-bottom: 40px;
    }
	}

	&__subtitle {
		text-align: center;
	  font-family: 'Amatic SC';
		font-size: 56px;
		font-weight: 400;
		line-height: 44px;
		margin-top: 0;

		margin-bottom: 30px;

    @media @mobile {
      font-size: 36px;
      font-weight: 400;
      margin-bottom: 25px;
    }
	}

	&__text {
    
		font-size: 24px;
		font-weight: 400;
		line-height: 34px;
		margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
    
    &--center {
      text-align: center;
      max-width: 960px;
    }
    
    @media @mobile {
      font-size: 18px;
      font-weight: 400;
      line-height: 28px;
      text-align: left;
      
      &:last-child {
        margin-bottom: 30px;
      }
    }
	}
  
  &__banner {
    margin-bottom: 150px;
    margin-top: 100px;
    height: 230px;
    overflow: hidden;
    
    @media @mobile {
      margin-top: 60px;
      margin-bottom: 40px;
      height: 570px;
      margin-right: -18px;
      margin-left: -18px;
    }
  }

	&__row {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;
    position: relative;
    
    @media @mobile {
      margin-bottom: 90px;
    }
		&--reverse {
			flex-direction: row-reverse;
		}
    
    &:after {
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      background-size: contain;
    }
    &--line-1 {
      margin-bottom: 200px;
      &:after {
        background-image: url('../img/line-big.png');
        height: 250px;
        bottom: -250px;
      }
    }
    &--line-2 {
      &:after {
        background-image: url('../img/line-big-2.png');
        height: 220px;
        bottom: -220px;
      }
    }
    &--line-3 {
      &:after {
        background-image: url('../img/line-small.png');
        height: 180px;
        bottom: -180px;
      }
    }
    &--line-4 {
      &:after {
        background-image: url('../img/line-small-2.png');
        height: 170px;
        bottom: -170px;
      }
    }
    &--line-5 {
      margin-bottom: 100px;
      &:after {
        background-image: url('../img/line-small-3.png');
        height: 170px;  
        bottom: -170px;
        width: 60%;
        left: 0;
      }
    }

    @media @mobile {
      display: block;
      &:after {
        content: none;
      }
    }
	}
  

  &__part {
    &--text {
      width: 55%;
      min-width: 55%;
    }
    &--img {
      width: 40%;
      min-width: 40%;
    }

    @media @mobile {
      width: 100%;
    }
  }
  &__img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    img {
      width: auto !important;
      height: 100% !important;;
    }
  }

	&--present {
		background-color: #ffcc66;
	}

	&--magic {
		background-color: #ffcc66;
	}
}


.banner {
  &__inner {
    width: 100%;
    height: 100%;
    background-image: url('../img/banner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
  
  
  
    @media @mobile {
      background-image: url('../img/banner-mob.png');
      background-position: center;
      max-width: 400px;
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
.clouds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  z-index: 2;
  width: 100%;
  height: 100%;
  background-image: url('../img/o1.png'), url('../img/o2.png');
  background-repeat: no-repeat, no-repeat;
  background-position: 10% 60%, 90% 85%;

  @media @mobile {
    display: none;
  }
}

.btn {
  display: block;
  position: relative;

  height: 50px;
  width: 250px;
  
  margin-left: auto;
  margin-right: auto;

  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
  line-height: 50px;
  cursor: pointer;
  
    
  border:none;
  transition: background-color 0.3s ease;

  text-align: center;
  
  &--red {
    background-color: @red;
    color:@white;
  }
  
  &:before,&:after {
    content: '';
    position: absolute;
    top: 0;
    transition: border-color 0.3s ease;
  }

  &:before {
    left: -25px;
  }

  &:after {
    right: -25px;
  }

  &--right {
    &:before {
      border-left:   solid 25px transparent;
      border-top:    solid 25px @red;
      border-bottom: solid 25px @red;
    }
    
    &:after {
      border-top:    solid 25px transparent;
      border-bottom: solid 25px transparent;
      border-left:   solid 25px @red;
    }
    
    
    &:hover {
      background-color: @dRed;
      color: @white;
      &:before {
        border-top-color:    @dRed;
        border-right-color:  @dRed;
        border-bottom-color: @dRed;
      }
      &:after {
        border-left-color:   @dRed;
      }
    }
  }
  

  &--white {
    background-color: #ffffff;
    color:@text;
    transition: opacity 0.3s ease;

    &:before, &:after {
      border-left:   solid 25px @red;
      border-top:    solid 25px #ffffff;
      border-bottom: solid 25px #ffffff;
    }
    
    &:after {
      transform: rotateZ(180deg);
    }

    &:hover {
      opacity: 0.9;
    }
  }

  &--double, &--invert {
    &:before, &:after {
      border-left:   solid 25px  transparent;
      border-top:    solid 25px @red;
      border-bottom: solid 25px @red;
    }
    
    &:after {
      transform: rotateZ(180deg);
    }

    &:hover {
      background-color: @dRed;
      color: @white;
      &:before, &:after {
        border-top-color:    @dRed;
        border-bottom-color: @dRed;
      }
    }
  }

}

.page {
	display: flex;
  flex-direction: row-reverse;
	justify-content: space-between;
	
  &__img {
    @media @mobile {
      padding: 0 20px;
      margin-top: -20px;
      margin-bottom: -20px;
    }
	}

	&__desc {
		text-align: center;

	}

	&__text {
		color: #3d2525;
		font-size: 24px;
		font-weight: 400;
		line-height: 40px;
		
		&--red {
			color: #cc3517;
			letter-spacing: 3px;
      margin-bottom: 45px;
		}
	}

  @media @mobile {
    display: block;

    &__btn {
      max-width: 170px;
    }
  }
}

.rounded {
	font-family: 'Amatic SC';
  color: #f90;
	font-weight: 700;
	margin-bottom: 45px;
  overflow: hidden;
  padding-top: 15px;

  @media @mobile {
    width: 100%;
    padding-top: 50%;
    background-image: url('../img/header-tittle.png');
    background-size: contain;
    background-position: center;

  }

	&__line {
    width: 100%;
    position: relative;
    display: block;

    @media @mobile {
      display: none;
    }
    span {
      position: absolute;
      top: 0;
      transform-origin: bottom center;
      width: 100px;
    }

    &--1 {
      min-height: 170px;
      span{
        width: 100px;
        height: 1000px;
        font-size: 190px;
        line-height: 120px;
        left: 37%;  
        &:nth-child(1) { .transform(rotate(-10deg)); }
        &:nth-child(2) { .transform(rotate(-5.2deg)); }
        &:nth-child(3) { .transform(rotate(0deg)); }
        &:nth-child(4) { .transform(rotate(6.2deg)); }
        &:nth-child(5) { .transform(rotate(10.6deg)); }
        &:nth-child(6) { .transform(rotate(13.5deg)); }

      }
    }
    
		&--2 {
      min-height: 70px;
			span {
			  font-size: 70px;
        width: 20px;
        height: 900px;
        left: 46%;
        &:nth-child(1) { .transform(rotate(-14deg)); }
        &:nth-child(3) { .transform(rotate(-11.5deg)); }
        &:nth-child(4) { .transform(rotate(-10deg)); }
        &:nth-child(5) { .transform(rotate(-8.5deg)); }
        &:nth-child(6) { .transform(rotate(-7.2deg)); }
        &:nth-child(7) { .transform(rotate(-5.8deg)); }
        &:nth-child(8) { .transform(rotate(-4.5deg)); }
        &:nth-child(9) { .transform(rotate(-3deg)); }
        &:nth-child(11) { .transform(rotate(0.5deg)); }
        &:nth-child(12) { .transform(rotate(1.8deg)); }
        &:nth-child(14) { .transform(rotate(4.2deg)); }
        &:nth-child(15) { .transform(rotate(6.8deg)); }
        &:nth-child(16) { .transform(rotate(8deg)); }
        &:nth-child(17) { .transform(rotate(9.2deg)); }
        &:nth-child(18) { .transform(rotate(10.5deg)); }
        &:nth-child(19) { .transform(rotate(12deg)); }
        &:nth-child(20) { .transform(rotate(13.5deg)); }
       }
		}
		&--3 {
      min-height: 55px;
			span {
				font-size: 66px;
        width: 20px;
        height: 1000px;
        left: 48%;  
				&:nth-child(1) { .transform(rotate(-5.5deg)); }
	      &:nth-child(2) { .transform(rotate(-4.5deg)); }
	      &:nth-child(3) { .transform(rotate(-3deg)); }
	      &:nth-child(4) { .transform(rotate(-1.5deg)); }
	      &:nth-child(5) { .transform(rotate(0deg)); }
	      &:nth-child(6) { .transform(rotate(1.5deg)); }
	      &:nth-child(7) { .transform(rotate(3deg)); }
	      &:nth-child(8) { .transform(rotate(4.5deg)); }
	      &:nth-child(9) { .transform(rotate(6deg)); }
	    }
		}
    
	}

	&__text {

	}
}



.gallery {
  

  &__item {

  }
}

.gallery-item {
  position: relative;
  display: block;
  
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  &:nth-child(3n) { margin-right: 0; }

}

.products {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  &__item {
    width: ~'calc(33.33% - 50px)';
    min-width: ~'calc(33.33% - 50px)';
    margin-right: 50px;
    margin-bottom: 100px;

    &:nth-child(3n) {
      margin-right: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    @media @mobile {
      width: 100%;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  
  @media @mobile {
    display: block;
    

  }
}

.product {
  
  color: @text;
  text-align: center;
  
  &__img {
    margin-bottom: 15px;
  }
  
  &__title {
    margin-bottom: 10px;
    margin-top: 0;

    font-size: 24px;
    font-weight: 400;
    font-weight: 400;
    
    &--big {
      font-size: 36px;
    }
  }

  &__price {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 40px;
    }
  }
  
  &__btn {
    width: ~'calc(100% - 50px)';
    max-width: 230px;
  }

  &__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 35px;
  }
}

.price {
  span {
    display: inline-block;
    font-family: 'Rouble',sans-serif;
    position: relative;
    margin-left: 5px;
  }
}
.list {
  list-style: none;
  width: 50%;
  margin: auto;

  @media @mobile {
    width: 100%;
  }

  &__item {
    display: flex;
    margin-bottom: 50px;  
    align-items: center;
    height: auto;
  }

  &__text {
    display: block;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;

    @media @mobile {
      font-size: 18px;
      font-weight: 400;
      line-height: 28px;
    }
  }

  &__number {
    display: block;
    margin-right: 60px;
    font-family: 'Amatic SC';
    font-size: 72px;
    font-weight: 400;
    line-height: 60px;

    @media @mobile {
      font-size: 56px;
      margin-right: 50px;
    }

  }
}


.charity {
  &__desc {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 75px;

    @media @mobile {
      display: block;
      margin-bottom: 40px;
    }
  }

  
  &__info {
    width: 60%;
    @media @mobile {
      margin-bottom: 45px;
    }
    
  }
  &__img {
    width: 40%;
    max-width: 270px;
  }

  @media @mobile {
    &__info, &__img {
      width: 100%;
      max-width: 100%;
    }
  }
  
  &__text {
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    margin-bottom: 25px;
    
    &:last-child {
      margin-bottom: 0;
    }

    @media @mobile {
      font-size: 18px;
      font-weight: 400;
      line-height: 28px;
    }
  }

  &__btn {
    width: 100%;
  }
}

.callback {
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media @mobile {
    display: block;
  }
  &__img {
    margin-right: 30px;
    @media @mobile {
      display: none;
    }
  }

  &__form {
    width: 570px;
    min-width: 570px;
    @media @mobile {
      width: 100%;
      min-width: 100%;
    }
  }
}
.form {
  background-color: @red;
  color: @white;
  
  border-radius: 10px;
  overflow: hidden;
  padding: 70px 90px;
  
  @media @mobile {
    padding: 35px;
  }
  &__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 60px;
    text-align: center;
  }

  &__fields {
    margin-bottom: 60px;
  }

  &__input {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    
    font-size: 18px;
    font-weight: 400;

    background-color: @red;
    border:none;
    border-bottom:solid 2px @white;
    transition: border-color 0.3s ease;
    
    padding: 0px 5px;

    &:focus,
    &:checked {
      border-bottom:solid 1px transparent;
      outline:none;
    }

    &::placeholder { 
      color:@white; 
      opacity:1; 
    }
  }

  
  &__submit {
    margin-bottom: 15px;
  }

  &__text {
    display: block;
    color: @white;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
  }
}

.contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  

  @media @mobile {
    flex-wrap: wrap;
    justify-content: space-around;

  }
  
  &--center {
    justify-content: center;
    
    @media @mobile {
      display: flex;
      .contacts__item {
        justify-content: center;
        &:before {
          margin-right: 0;
        }
      }
    }  
  }

  &__item {
    display: flex;
    align-items: center;
    flex-direction: row;
    
    color: @text;
    font-size: 24px;
    font-weight: 400;
    line-height: 31.99px;
    
    position: relative;
    cursor: pointer;
  
    &:before {
      content: '';
      display: block;
      
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      margin-right: 20px;
    }

    &--address {
      width: 30%;

      &:before {
        width: 50px;
        min-width: 50px;
        height: 50px;
        background-image: url('../img/icon-pin.png');
      }
    }

    &--phone {
      width: 21%;
      &:before {
        width: 45px;
        min-width: 45px;
        height: 45px;
        background-image: url('../img/icon-phone.png');
      }
    }

    &--mail {
      width: 25%;
      &:before {
        width: 50px;
        min-width: 50px;
        height: 50px;
        background-image: url('../img/icon-mail.png');
      }
    }

    &--vk {
      &:before {
        width: 50px;
        min-width: 50px;
        height: 50px;
        background-image: url('../img/icon-vk.png');
      }

      @media @mobile {
        width: 50px !important;

        &:before {
          margin-right: 0;
        }
      }
    }

    &--insta {

      @media @mobile {
        width: 50px !important;
        &:before {
          margin-right: 0;
        }
      }

      &:before {
        width: 35px;
        min-width: 35px;
        height: 35px;
        background-image: url('../img/icon-insta.png');
      }
    }

    &--fb {
      &:before {
        width: 35px;
        min-width: 35px;
        height: 35px;
        background-image: url('../img/icon-fb.png');
      }
    }

    &--you {
      &:before {
        width: 35px;
        min-width: 35px;
        height: 35px;
        background-image: url('../img/icon-you.png');
      }
    }

    @media @mobile {
      width: 100%;
      font-size: 22px;
      line-height: 1.5;
      margin-bottom: 30px;

      &:before {
        width: 35px;
        min-width: 35px;
        height: 35px;
        margin-right: 15px;
      }
    }


    
  }
  &__text {
    color: @text;
    text-decoration: none;

    @media @desktop {
      font-size: 16px;
    }
  }
}


.catalog {
  &__row {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
    
    @media @mobile {
      display: block;
    }
  }

  &__cell {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 400;
    
    width: 23.33%;
    min-width: 23.33%;
    &--img {
      width: 30%;
      min-width: 30%;
    }

    &--name {
      font-size: 36px;
      font-weight: 400;
      
      @media @mobile {
        margin-bottom: 10px;
      }
    }

    &--price {
      font-size: 24px;
      font-weight: 400;

      @media @mobile {
        margin-bottom: 30px;
      }
    }

    &--quantity {
      justify-content: center;
      font-size: 36px;
      font-weight: 400;
    }

    @media @mobile {
      justify-content: center;
      width: 100%;
      text-align: center;
    }
  }
}
.checkout {
  &__cart {

  }

  &__delivery {

  }

  &__totals {
    .totals__cell {
      font-size: 36px;
      font-weight: 400;
    }
  }

  &__btn {
    width: 170px;
  }
}

.cart {
  border-top: 1px solid #cc3517;
  padding-top: 70px;
  padding-bottom: 70px;
  
  &__row {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 0 100px;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
    

    @media @mobile {
      padding: 0;
      flex-wrap: wrap;
    }
  } 

  &__cell {
    display: flex;
    align-items: center;

    font-size: 24px;
    font-weight: 400;
    

    &--img {
      width: 30%;
      min-width: 30%;
    }

    &--name {
      width: 25%;
      min-width: 25%;
  
      .price {
        display: none;
      }

      @media @mobile {
        display: block;
        font-size: 18px;
        font-weight: 400;
        width: 60%;
        min-width: 60%;
        .price {
          display: block;
        }
      }
    }

    &--price {
      width: 15%;
      min-width: 15%;
      justify-content: right;
      
      @media @mobile {
        display: none;
      }
    }

    &--quantity {
      width: 30%;
      min-width: 30%;
      justify-content: right;
      @media @mobile {
        width: 100%;
        justify-content: center;
        margin-top: 15px;
      }
    }

    &--remove {
      position: absolute;
      right: 0;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      @media @mobile {
        display: block;
        top: 15px;
        
      }
    }
  }

  &__remove {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url('../img/icon-remove.png');
    cursor: pointer;
  }

  &__img {
    width: 100%;
    max-width: 200px;
  }
}

.delivery {
  border-top: 1px solid #cc3517;
  padding-top: 50px;
  
  &__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    &:before {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 8px;
      background-color: @red;
      margin-right: 18px;
    }
  }
  &__data {
    border-bottom: 1px solid #cc3517;
  }
}

.totals {
  &__row {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 25px 100px;
    border-bottom: 1px solid #cc3517;

    @media @mobile {
      padding: 25px 0;
    }
  }

  &__cell {
    &:nth-child(1) {
      width: 55%;
      min-width: 55%;
    }
    &:nth-child(2) {
      width: 15%;
      min-width: 15%;
      justify-content: right;
      text-align: right;
      @media @mobile {
        width: 40%;
        min-width: 40%;
      }
    }
    &:nth-child(3) {
      position: absolute;
      right: 100px;

      @media @mobile {
        right: 0;
        left: 0;
        bottom: -80px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
.spinner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 170px;
  &__input {

  }

  &__placeholder {
    line-height: 50px;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    width: 50px;
  }

  &__buttons {

  }

  &__button {
    
    display: flex;
    align-items: center;
    justify-content: center;

    width: 48px;
    min-width: 48px;
    height: 48px;
    border:1px solid @red;
    background-color: transparent;

    border-radius: 25px;
    transition: all 0.3s ease;
    
    font-size: 24px;
    font-weight: 400;
    color: @text;
    
    cursor: pointer;

    &:hover {
      background-color: @red;
      color: @white;
    }
    &--up {
      right: 0;
        

    }
    &--down {
      left: 0;

    }
  }
}

.footer {
  background-color: #ffcc66;
  padding: 15px 0;
  &__copyright {
    text-align: center;
  }
}


/* popup */

.popup {
  position: fixed; 
  overflow-y: scroll;
  top: 0; left: 0; top: 0; bottom: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;


  transition: opacity 0.3s ease, z-index 0s 1s;
  width: 100vw;
  z-index: -1; 
  opacity: 0;  
  
  background:  rgba(200,200,200, .4);
  padding: 50px 0;

  &--active {
    transition: opacity 1s;
    width: 100%; 
    z-index: 101;  
    opacity: 1; 
  }

  &__form {
    width: 570px;
    min-width: 570px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    background-color: @red;
    color: @white;
    
    &--success {
      padding: 60px 70px;
    }
  }
  
  &__close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 15px;
    height: 15px;
    background-image: url('../img/icon-close.png');
    background-position: center;
    background-size: contain;
    
    cursor: pointer;
    transition:transform 0.3s ease;

    &:hover {
      transform: rotateZ(180deg);
    }

    &--form {
      right: 10px;
      top: 10px;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 15px;
    text-align: center;
  }

  &__subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin-bottom: 0;
  }
}





/* slick overrides */

.slick-dots li button::before {
  font-size: 16px;
  color: #cc3517;
  transition: color 0.3s ease;

  @media @mobile {
    font-size: 14px;
  }
}



.slick-dots li.slick-active button::before {
  opacity: 1;
  color: #cc3517;
}