@font-face{
	font-family:'Amatic SC';
     font-style:cursive; 
    src:url('src/fonts/Amatic_SC/AmaticSC-Regular.woff') format('ttf');
}

@font-face{
	font-family:'Roboto';
    /* font-style:sans-serif; */
    src:url('src/fonts/Roboto/Roboto-Regular.woff') format('ttf');
}
