@import url(https://fonts.googleapis.com/css?family=Amatic+SC|PT+Sans|Roboto&subset=cyrillic);

@font-face {
  font-family: 'Rouble';
  src: url('../fonts/ALSRubl/ALSRubl.eot'); 
  src: url('../fonts/ALSRubl/ALSRubl.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/ALSRubl/ALSRubl.woff') format('woff'), 
       url('../fonts/ALSRubl/ALSRubl.ttf')  format('truetype'), 
       url('../fonts/ALSRubl/ALSRubl.svg#RobotoSlab-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}